# Python Data Structures
### 네 가지 자료형 파헤치기 (List, Tuple, Dictionary, Set)

#####    
## 1. List
리스트는 순서를 보장하는 자료구조, 안에는 어떠한 자료형도 포함 가능

In [1]:
animals = ['cat', 'dog', 'tiger', 'lion']
animals

['cat', 'dog', 'tiger', 'lion']

### 리스트의 인덱싱과 슬라이싱
첫 번째 요소의 인덱스는 0부터 시작하며 리스트에 또 다른 리스트를 포함 가능

In [2]:
animals.sort(reverse=True); animals

['tiger', 'lion', 'dog', 'cat']

In [3]:
animals = ['cat', 'dog', ['tiger', 'lion', 'bear']]
animals[2]

['tiger', 'lion', 'bear']

In [4]:
animals[2][1:]

['lion', 'bear']

### 리스트 추가, 수정, 삭제
append()는 리스트의 마지막 요소에 추가, insert()는 원하는 인덱스에 추가

In [5]:
animals.append('horse')
animals.insert(0, 'bird'); animals

['bird', 'cat', 'dog', ['tiger', 'lion', 'bear'], 'horse']

In [6]:
animals[2] = 'bird'; animals

['bird', 'cat', 'bird', ['tiger', 'lion', 'bear'], 'horse']

In [7]:
del animals[4]
animals.remove('cat'); animals

['bird', 'bird', ['tiger', 'lion', 'bear']]

In [8]:
data = animals.pop(); data

['tiger', 'lion', 'bear']

### 리스트 카운팅과 확장
count(x)는 리스트 내에 x가 몇 개 있는지, extend()는 두 개의 리스트 더하기

In [9]:
animals.count('bird')

2

In [10]:
num = [1, 2, 3]
animals.extend(num); animals

['bird', 'bird', 1, 2, 3]

#####     
## 2. Tuple
튜플은 값을 변경 불가능하며 지우거나 변경하려고 하면 오류가 발생

In [11]:
korea = ('Seoul', 'Daejeon', 'Busan'); korea

('Seoul', 'Daejeon', 'Busan')

#####    
## 3. Dictionary
딕셔너리는 키(Key)와 값(Value)으로 이루어진 구조, 중복되는 키는 사용불가

In [12]:
staff = {'Chris' : 'chris@stater.org',
         'Jake' : 'jake@stater.org',
         'Ashley' : 'ashley@stater.org',
         'Shelly' : 'shelly@stater.org'
        }

In [13]:
staff['Chris']

'chris@stater.org'

In [14]:
del staff['Chris']; staff

{'Ashley': 'ashley@stater.org',
 'Jake': 'jake@stater.org',
 'Shelly': 'shelly@stater.org'}

In [15]:
staff['Guido'] = 'guido@python.org'; staff

{'Ashley': 'ashley@stater.org',
 'Guido': 'guido@python.org',
 'Jake': 'jake@stater.org',
 'Shelly': 'shelly@stater.org'}

### Key와 Value 리스트

In [16]:
list(staff.values())
list(staff.keys())

['Shelly', 'Guido', 'Ashley', 'Jake']

In [17]:
list(staff.items())

[('Shelly', 'shelly@stater.org'),
 ('Guido', 'guido@python.org'),
 ('Ashley', 'ashley@stater.org'),
 ('Jake', 'jake@stater.org')]

### Dictionary 응용

In [18]:
keys = [k for k in staff.keys()]; keys

['Shelly', 'Guido', 'Ashley', 'Jake']

In [19]:
'Shelly' in staff

True

#####    
## 4. Set
집합은 중복을 허용하지 않으며, 순서가 없음

In [20]:
countries = set(['brazil', 'russia', 'india'])
countries

{'brazil', 'india', 'russia'}

In [21]:
bri = countries.copy()
bri.add('china'); bri

{'brazil', 'china', 'india', 'russia'}