# 경마 데이터 분석

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("../Dataset/hr_race.csv")
data.head()

,Unnamed: 0,id,rcDate,meet,rcNo,ord,rcTime,age,chulNo,corner_txt,...,hrName,jkName,owName,plc,prdCtyNm,sex,trName,wgBudam,wgHr,win
0,0,1,2000-01-30,서울,1,3.0,01:20:01,4,1,- - - 10 - 9 -,...,웨스턴타이틀,함완식,이근우,1.1,호,암,김문갑,54.0,461.0,1.6
1,1,2,2000-01-30,서울,1,11.0,01:22:00,4,2,- - - 7 - 7 -,...,두루미,박수홍,범양해운,31.5,한,암,이왕언,53.0,428.0,610.6
2,2,3,2000-01-30,서울,1,12.0,01:22:01,5,3,- - - 12 - 11 -,...,서천,박동랑,어울림네트웍스,5.8,뉴,암,김문갑,52.0,391.0,52.1
3,3,4,2000-01-30,서울,1,8.0,01:21:01,4,4,- - - 8 - 8 -,...,런패스터,김동균,성환옥,2.3,미,암,최혜식,52.0,423.0,17.0
4,4,5,2000-01-30,서울,1,10.0,01:22:00,4,5,- - - 11 - 12 -,...,한가람,이정선,이영욱a,24.8,뉴,암,최영주,52.0,442.0,732.4

## Feature
- rcDate : 경기가 열린 날 / 2000-01-30 부터 2017-01-06 까지
- meet : 경기가 열린 장소 / 서울, 제주, 부경
- rcNo : 경주시행일의 경주번호 / 1 부터 15 까지
- ord : 출발검사 도착순위
- rcTime : 경주시간(?)
- age : 말의 나이 / 4 부터 27 까지
- chulNo : 경주 출발게이트 번호 / 1 부터 16 까지
- corner_txt : 통과지점별통과순위
- differ : 선순위 도착마와의 도착 마신 차이 / 머리, 목, 주행중지, 출전제외 등
- hrName : 말의이름 / 웨스턴타이틀, 두루미 등
- jkName : 경주마 기승하는 기수명
- owName : 경주마 소유한 마주명
- plc : 해당마의 연승식 적중시 환급 배당률
- prdCtyNm : 경주마 생산국가명 / 호, 한, 뉴, 미 등
- sex : 말의성별 / 암, 거, 수
- trName : 조교사명
- wgBudam : 경주마의 부담중량(KG)
- wgHr : 경주마 해당일 체중(KG)
- win : 해당마의 단승식 적중시 환급 배당률

In [4]:
data.jkName.unique()

array(['함완식', '박수홍', '박동랑', '김동균', '이정선', '김효섭', '한유영', '박윤규', '황순도',
       '김태경', '서영석', '박명진', '김혜성', '장세한', '김창옥', '이정표', '문정균', '우창구',
       '이종섭', '이준철', '안병기', '최기홍', '강태현', '원정일', '오경환', '최인형', '방춘식',
       '임대규', '강명준', '정호익', '이범승', '천창기', '지하주', '고성이', '김택수', '정승수',
       '최봉주', '조용배', '권진환', '박을운', '배휴준', '신형철', '전기혁', '이상두', '김훈', '이주용',
       '양희진', '이영우', '하무선', '강병은', '이성일', '유훈', '홍성호', '문제복', '송석헌', '민용기',
       '임금만', '김형수', '윤태혁', '정평수', '김옥성', '김재섭', '김귀배', '한창민', '김성현',
       '김명근', '고홍석', '윤기정', '신대전', '김동철', '이재웅', '김기환', '심도연', '모현진',
       '이태용', '오영일', '강대은', '강영진', '권육', '안득수', '이정철', '구영준', '김대연', '장준환',
       '김경훈', '정영수', '김수만', '심태섭', '최기호', '이장우', '고영덕', '이준호', '박병진',
       '김용섭', '한영민', '채규준', '정명일', '허회창', '김태준', '김효준', '김명호', '김형식',
       '정성훈', '박기영', '박준호', '문성호', '김이랑', '정기옥', '박훈', '오명섭', '박태종', '김기섭',
       '윤영민', '강경식', '김경진', '박복규', '이광복', '홍대유', '유재필', '전덕용', '조경호',
       '정기용', '문세영', '허재영', '이금주', '이동국', '유상완', '이성환', '윤대근', '심승태',
       '최범현', '이신영', '김영진', '강지웅', '한성열', '박정민', '김민수', '장우성', '한상규',
       '서도수', '이애리', '김석봉', '임성실', '하태국', '유현명', '강종헌', '이명화', '구민성',
       '박진희', '김도현', '양영남', '김서진', '박재호', '조찬훈', '최정섭', '손영진', '김낙현',
       '이기회', '문중원', '최인덕', '박성광', '캐시디', '에이지', '주맛', '카힐', '스코필드', '심광선',
       '강성', '이현섭', '곽용남', '전현준', '황태선', '김주희', '김영수', '김정일', '윤도선', '조창욱',
       '김어수', '김용근', '김홍일', '김경근', '정시원', '서인섭', '김남성', '박금만', '김동영',
       '김영민', '조성곤', '김명신', '나유나', '권동석', '안선호', '소판', '우드워스', '데이', '뉴남',
       '베이커', '유다니엘', '리차드', '이희천', '호레스램', '잭퍼튼', '키쿠자와', '미셀', '하워드쳉',
       '유승완', '최원준', '부민호', '이쿠야스', '이준동', '아즈하', '잭슨', '이대연', '최시대',
       '황종우', '설동복', '노조무', '송경윤', '대니', '람호이', '케빈', '쿠니', '웨인', '게릿',
       '수쿤뱅', '우찌다', '테일러', '와타세', '김동민', '이상혁', '김철호', '박시천', '박병윤',
       '유미라', '조인권', '다니엘', '이성재', '하밋', '로날드', '로버트', '이세이', '그레고리',
       '안토니', '에디', '에이키', '우이스', '산토스', '마틴', '스티븐', '황영원', '라훌', '리오',
       '아담', '가토', '김혜선', '박상우', '이해동', '빈센트', '린다', '히토미', '제니퍼', '로라',
       '나딘', '마이', '치아키', '캐서린', '제임스', '테츠야', '괘칸', '루이스', '패트릭', '리챠드',
       '아오키', '이든', '히라세', '김정준', '장추열', '박종현', '이강서', '가츠야', '올리버', '아킨',
       '니알', '이시바시', '무찌', '스캇', '배성아', '김다영', '이덕형', '원유일', '하마다', '비라펜',
       '무타자', '마코토', '아카네', '요시로', '알도', '아흐메', '드웨인', '로널드', '로리', '이혁',
       '서승운', '이아나', '권진영', '강수한', '스탠리', '정동철', '김정웅', '유광희', '밍완테',
       '마호멧', '토시코', '우에노', '코스케', '호세', '아베', '쉴렉터', '박현우', '안효리', '김현중',
       '후지이', '커티스', '요시다', '수쿤벵', '티턴', '다실바', '일디림', '홀랜드', '우레시', '김태훈',
       '송재철', '권석원', '이찬호', '조한별', '다나카', '파스토', '신이치', '노엘', '유셀', '레이몬',
       '문현진', '김경휴', '카시와', '마토바', '마시마', '두소', '제롬', '임기원', '김동수', '조상범',
       '채상현', '정정희', '김홍권', '김준호', '조희원', '야노', '데이빗', '오야마', '사무엘',
       '페로비치', '라케쉬', '마데이', '다카하시', '조재로', '이현종', '하정훈', '김도중', '박재이',
       '이용호', '진겸', '볼스터', '차베스', '씨즈용', '타케히로', '후마', '조슈아', '재크', '웡캄총',
       '맥네일', '쯔바사', '크레이그', '최이모', '정현', '보렐리', '니콜라', '오카베', '딘홀랜드',
       '파올로', '사토시', '임란', '타츠시로', '이동하', '이철경', '김한남', '김형준', '이동준',
       '이효식', '정도윤', '최은경', '임재광', '벨리', '안토니오', '호반', '요시하라', '오셰이',
       '페르난도', '티탄', '웡친추엔', '누네스', '파둘', '미유키', '얀', '미르코'], dtype=object)